<% 
  css_class = 'other-message float-right' 

  if message.user == current_user || message.user == current_host
    css_class = 'my-message float-left'
  end
%>

<% css_class2 = 'align-right'
if message.user == current_user || message.user == current_host
  css_class2 = 'align-left'
end
%>

<div class="message-data <%= css_class2 %>">
<div class="clearfix"> 
</div>
  
  
  </div>
  
<div class="message <%= css_class %>" data-user-id="<%= message.user.id %>" data-user-type="<%= message.user.class.name %>" >
  <%= message.body %>
  <div class="chat-num-messages" style="font-size:70%">
    <%= message.message_time %>
  </div>
  
  <div class="chat-num-messages" style="font-size:50%">
    <%= message.user.name %>
  </div>

</div>
      