<% if @over_ten %>
  <%= link_to 'Show Previous' %>
<% end %>
<% if @survey.nil? %>
<% else %>
  <h3><%= @survey.name %></h3>
  <% for question in @survey.questions  %>
    <%= h question.content %>
    <% for answer in question.answers %>
      <%= h answer.content %>
    <% end %>
  <% end %>

<% end %>
<div class='ui' id='messages-list'>
  <%= render @messages %>
</div>

<%= form_for [@conversation, @message], remote: true do |f| %>
  <div class=”field”>
    <%= f.text_area :body, class: 'form-control' ,id: 'messages-body'%>
  </div>

  <% user = current_user || current_host %>
  <%= f.text_field :user_id, value: user.id, type: 'hidden' %>
  <%= f.text_field :user_type, value: user.class.name, type: 'hidden' %>

  <div>
    <%= f.submit 'Add Reply', class: 'btn btn-primary' %>
  </div>
<% end %>

<script>
$('#messages-body').keypress(function(e){
      if(e.which == 13){
           $(this).closest('form').submit();
       }
    });
</script>
