<% if @over_ten %>
  <%= link_to ‘Show Previous’ %>
<% end %>
<% if @survey.nil? %>
<% else %>
  <h3><%= @survey.name %></h3>
  <% for question in @survey.questions  %>
    <%= h question.content %>
    <% for answer in question.answers %>
      <%= h answer.content %>
    <% end %>
  <% end %>

<% end %>
<div class='ui'>
  <% @messages.each do |message| %>
    <% if message.body %>
      <div class=”item”>
        <div class=”content”>
          <div class=”header”><strong><%= message.user.name %></strong>  <%= message.message_time %></div>
          <div class=”list”>
            <div class=”item”>
              <i class=”right triangle icon”></i>
              <%= message.body %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

</div>

<%= form_for [@conversation, @message], html: {class: 'form' } do |f| %>
  <div class=”field”>
    <%= f.text_area :body, class: 'form-control' %>
  </div>

  <% user = current_user || current_host %>
  <%= f.text_field :user_id, value: user.id, type: 'hidden' %>
  <%= f.text_field :user_type, value: user.class.name, type: 'hidden' %>

  <div>
    <%= f.submit 'Add Reply', class: 'btn btn-primary' %>
  </div>
<% end %>
