<h1>Create a new therapist account</h1>

<%= form_for @host do |f| %>

<% unless @host.errors.empty? %>
<%= @host.errors.full_messages.to_sentence %>
<% end %>

<%= f.label :name %>
<%= f.text_field :name, placeholder: "Enter name" %>     

<%= f.label :email %>
<%= f.text_field :email, placeholder: "Enter email" %>  

<%= f.label :phone_number %>
<%= f.text_field :phone_number, placeholder: "Enter phone number" %>  

<%= f.label :img_link %>
<%= f.text_field :img_link, placeholder: "Link to a photo" %>  

<%= f.label :description %>
<%= f.text_field :description, placeholder: "Add some description..." %>  

<%= f.label :password %>
<%= f.password_field :password, placeholder: "Enter password" %>  

<%= f.submit %>

<% end %>

<form action="/hosts" method="post">

</form>