
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Bootstrap user profile template</title>
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
    <style type="text/css">
               .btn-social {
            color: white;
            opacity: 0.8;
        }

            .btn-social:hover {
                color: white;
                opacity: 1;
                text-decoration: none;
            }

        .btn-facebook {
            background-color: #3b5998;
        }

        .btn-twitter {
            background-color: #00aced;
        }

        .btn-linkedin {
            background-color: #0e76a8;
        }

        .btn-google {
            background-color: #c32f10;
        }
    </style>
</head>
<body>

    <div class="container">
        <section style="padding-bottom: 50px; padding-top: 50px;">
            <div class="row">
                
                <div class="col-md-8">
                    <div class="alert alert-info">
                    <img src="assets/img/250x250.png" class="img-rounded img-responsive" />
                        <h2> <%= @host.name %>'s Profile </h2>
                        <h4> Email: <%= @host.email %></h4>
                        <h4> About <%= @host.name %>: </h4>
                        <h5> <%= @host.description %> </h5>
                    </div>
                    <div>
                        <%= link_to "Send #{@host.name} a message!", conversations_path(recipient_id: @host.id, recipient_type: @host.class.name), method: 'post', class: 'btn btn-success' %> 
                        <br><br>    
                    </div>
                    <div >
                        <a href="#" class="btn btn-social btn-facebook">
                            <i class="fa fa-facebook"></i>&nbsp; Facebook</a>
                        <a href="#" class="btn btn-social btn-google">
                            <i class="fa fa-google-plus"></i>&nbsp; Google</a>
                        <a href="#" class="btn btn-social btn-twitter">
                            <i class="fa fa-twitter"></i>&nbsp; Twitter </a>
                        <a href="#" class="btn btn-social btn-linkedin">
                            <i class="fa fa-linkedin"></i>&nbsp; Linkedin </a>
                        </div>

                        <%= render partial: 'reviews/form', collection: @host.reviews, as: :review %>
                     <%= form_for [@host,Review.new] do |f| %>
                        <%= f.text_area :content, class: 'form-control' %>
                        <% user = current_user || current_host %>
                        <%= f.text_field :user_id, value: user.id , type: 'hidden' %>
                        <%= f.text_field :user_type, value: user.class.name, type: 'hidden' %>
                        <%= f.submit "SUBMIT" %>
                        <% end %>



        </ection>
        <!-- SECTION END -->
    </div>
    <!-- CONTAINER END -->

    <!-- REQUIRED SCRIPTS FILES -->
    <!-- CORE JQUERY FILE -->
    <script src="assets/js/jquery-1.11.1.js"></script>
    <!-- REQUIRED BOOTSTRAP SCRIPTS -->
    <script src="assets/js/bootstrap.js"></script>
</body>

</html>
