<h1>Create a new user account</h1>

<%= form_for @user do |f| %>

<% unless @user.errors.empty? %>
<%= @user.errors.full_messages.to_sentence %>
<% end %>

<%= f.label :name %>
<%= f.text_field :name, placeholder: "Enter name" %>     

<%= f.label :email %>
<%= f.text_field :email, placeholder: "Enter email" %>  

<%= f.label :phone_number %>
<%= f.text_field :phone_number, placeholder: "Enter phone number" %>  

<%= f.label :password %>
<%= f.password_field :password, placeholder: "Enter password" %>  

<%= f.submit %>

<% end %>

<form action="/users" method="post">

</form>