 <link rel="stylesheet" href="/css/default_landing.css" /> 
    <header>
        <h1>App Name<span>Team name</span></h1>
      </header>
    
    <div align="center" class="container" style="text-align: center">
      <h3>Create a new Therapist account</h3>
      <div align="center"  style="background-color:  #d94839;width:500px;">
       
 
<%= form_tag users_path do %>

  <div class="form-group row">
    <label class="col-xs-2 col-form-label">Username</label>
    <div class="col-xs-10">
      <input type="text" name="user[name]" class="form-control" >
    </div>
  </div>

  <div class="form-group row">
    <label class="col-xs-2 col-form-label">Email</label>
    <div class="col-xs-10">
      <input type="email" name="user[email]" class="form-control">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-xs-2 col-form-label">Phone Number</label>
    <div class="col-xs-10">
      <input type="tel" name="user[phone_number]" class="form-control">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-xs-2 col-form-label">Password</label>
    <div class="col-xs-10">
     <input type="password" name="user[password]" class="form-control">
    </div>
  </div>
   
  <div class="form-group row">
    <label class="col-xs-2 col-form-label">Description</label>
    <div class="col-xs-10">
     <input type="text" name="user[description]" class="form-control">
    </div>
  </div>
   


  <button type="submit" class="btn btn-primary">Done</button>
<% end %>
</div>
</div>


<% if false   %>
<%= f.label :name %>
<%= f.text_field :name, placeholder: "Enter name" %>     

<%= f.label :email %>
<%= f.text_field :email, placeholder: "Enter email" %>  

<%= f.label :phone_number %>
<%= f.text_field :phone_number, placeholder: "Enter phone number" %>  

<%= f.label :password %>
<%= f.password_field :password, placeholder: "Enter password" %>  

<%= f.submit %>
<% end %>

<form action="/users" method="post">

</form>
