<%= form_for @book do |f|%>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: "Name", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, placeholder: "Say something about your conditions", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :location %>
    <%= f.text_field :location, placeholder: "Enter Location", class: "form-control" %>
  </div>
   <% if current_user %>
    <%= f.select :host_id, Host.all.map{|e| [e.name, e.id]} %>
   <% else %>
    <%= f.select :user_id, User.all.map{|e| [e.name, e.id]} %>
   <% end %>

   <% if current_user %>
      <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
   <% else %>
      <%= f.text_field :host_id, value: current_host.id, type: "hidden" %>
    <% end %>

    <%= f.text_field :start_at, placeholder: "Choose Date", class: "datepicker" %>
    <%= f.text_field :end_at, placeholder: "Choose Time", class: "timepicker" %>
    <%= f.submit "Book" %>
  <% end %>

  <script>
  $('.datepicker').pickadate();
  $('.timepicker').pickatime();
  </script>



  
