<!DOCTYPE html>
<html>
  <head>
    <title>Therapists</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="lib/themes/rtl.css">
	
  </head>

  <body>
  <%= link_to 'Home', root_path, class: 'btn btn-primary' %>  
  <% if current_host %>
    <%= link_to "Log out #{current_host.email}", host_logout_path, class: 'btn btn-primary' %>
  
  <% elsif current_user  %>
    <%= link_to "Log out #{current_user.email}", logout_path, class: 'btn btn-primary' %> 
  <% end %>

  <% else %>  
    <%= link_to 'Login as Host', host_login_path, class: 'btn btn-primary' %>
    <%= link_to 'Login as User', user_login_path, class: 'btn btn-primary' %>
      <% unless flash.empty? %>
  		<% flash.each do |key, value| %>
  			<div class="alert alert-danger"><%= value %></div>
  		<% end %>
    <% end %>

   
  <%=yield %>
  </body>
</html>
