<!DOCTYPE html>
<html>
  <head>
    <title>Therapists</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="lib/themes/rtl.css">
	
  </head>

  <body>

<div class="container">
  <%= link_to 'Home', root_path, class: 'btn btn-primary' %>  
  <% if current_host %>
    <%= link_to "Log out #{current_host.email}", logout_path, class: 'btn btn-primary' %>
  
  <% elsif current_user  %>
    <%= link_to "Log out #{current_user.email}", logout_path, class: 'btn btn-primary' %> 
  <% end %>

  <% else %>  
    <%= link_to 'Login as Host', host_login_path(pending: true), class: 'btn btn-primary' %>
    <%= link_to 'Login as User', user_login_path(pending: false), class: 'btn btn-primary' %>
      <% unless flash.empty? %>
  		<% flash.each do |key, value| %>
  			<div class="alert alert-danger"><%= value %></div>
  		<% end %>
    <% end %>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <% if current_user %>
        <%= link_to 'View your profile', user_path(:id => current_user.id), class: 'btn btn-success'%> <br>
        <%= link_to 'Update information', edit_user_path(:id => current_user.id), class: 'btn btn-success'%> <br>
        <%= link_to 'Tell your doctors about your condition', new_survey_path, class: 'btn btn-success' %>
        <%= link_to 'Consult a therapist', hosts_user_path(:id => current_user.id), class: 'btn btn-success' %>
        <%= link_to 'Make an appointment now', new_book_path, class: 'btn btn-success' %>
        <%= link_to 'View your appointments', book_path(:id => current_user.id), class: 'btn btn-success' %> 
      <% end %>

      <% if current_host %>
        <%= link_to 'View your profile', host_path(:id => current_host.id), class: 'btn btn-success'%> <br>
        <%= link_to 'Update information', edit_host_path(:id => current_host.id), class: 'btn btn-success'%> <br>
        <%= link_to 'Check your inbox!', users_host_path(:id => current_host.id), class: 'btn btn-success' %>
        <%= link_to 'Your appointments today', book_path(:id => current_host.id), class: 'btn btn-success' %>
      <% end %>
    </div>
    <div class="col-md-8">
      <%=yield %>
    </div>
    
  </div>
</div>
    
  </body>
</html>
